body {
    overflow-y: hidden;
    overflow: hidden;
}

#info-button {
    position: relative;
    margin-bottom: 0px;
    /* top: 20%; */
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

#info-button:hover {
    fill:#F3BEF1;
    background-color: #1e4bbf;
}

#info{
    width: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    padding: 50px;
    display: none;
    /* visibility: hidden; */

    background-color: #F3BEF1;
    border:5px solid #2153D4;
    box-shadow:-20px 20px #F3BEF1;

    text-align: left;
    font-size: 20px;
    color: #2153D4;
    font-family: Arial, Helvetica, sans-serif;
}

#info a{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#info a:hover{
    text-decoration-thickness:  5px;
    cursor: pointer;
}

path {
    fill:#FFFFFF
}


.blue{
    background-color: #2153D4;
}

.pink{
    background-image: linear-gradient(#F3BEF1, #FFFFFF);
}

#land {
    width: 100%;
    height: 95vh;
    text-align: center;
    overflow-y: hidden;
    overflow: hidden;
}

#title {
    /* background-color: red; */
    text-align: center;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 0 auto;
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

#Passion {
    font-size: 96px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    height: 0px;
    background-color: red;
}

@media (min-width: 1200px) {
    #Passion {
      font-size: 224px;
    }
}

#go {
    border-radius: 25px;
    border: 5px solid #2153D4;
    background: #F8F8F8;
    color: #2153D4;
    font-size: 32px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 50px 30px 50px;
    margin-top: 125px;
    /* margin-top: -100px; */

    /* position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

#go:hover {
    background-color: #F3BEF1;
}

#urPassion {
    background-color: #FFFFFF;

    border: 5px solid #2153D4;
    box-shadow: -20px 20px #2153D4;

    position: relative;
    top: 50%;
    left: 55%;
    /* transform: translate(-50%, -50%); */
    padding: 25px 25px 25px 25px;
    height: min-content;
    width: 300px;
    text-align: center;
    word-wrap: break-word;
}

#passionText {
    color: #2153D4;
    /* background-color: red; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    /* font-size: 148px; */
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    /* word-wrap: break-word; */
}

@media (min-width: 1200px) {
    #urPassion {
        height: 500px;
        width: 700px;
    }

    #afterControls {
        display: flexbox;
    }
}

#after {
    position: absolute;
    right: 50%;
    top: 150%;
    display: block;
}

#afterControls{
    /* background-color: aliceblue; */
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 30px;
    /* text-align: center; */
    /* display: block; */
}

#afterControls button{
    color:#2153D4;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    border-style: solid;
    border-color: #2153D4;
    border-width: 0 0 0 0;
    /* display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto; */
}







#afterControls button:hover {
    border-bottom-width: 10px;
}

